{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'teacher_create' %}" class="block w-1/2 bg-green-500 text-white text-center py-2 px-4 rounded hover:bg-green-600 transition duration-200 mb-4 mx-auto">
        New Teacher
    </a>
    {% for teacher in teachers %}
        <div class="bg-white rounded-lg shadow-md mb-4 mx-auto" style="max-width: 30rem;">
            <div class="px-6 py-4 flex justify-between items-center border-b border-gray-200">
                <a href="{% url 'teacher_students' id=teacher.id %}" class="text-lg font-bold text-indigo-600 hover:underline">{{ teacher }}</a>
                <div class="flex gap-4">
                    <a href="{% url 'teacher_update' id=teacher.id %}" class="py-1 px-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition duration-200">Update</a>
                    {% if teacher.student_set.all %}
                        <button disabled class="py-1 px-2 bg-gray-300 text-gray-600 rounded cursor-not-allowed transition duration-200">Delete</button>
                    {% else %}
                        <a href="{% url 'teacher_delete' id=teacher.id %}" class="py-1 px-2 bg-red-500 text-white rounded hover:bg-red-600 transition duration-200">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
